body { 
  margin: 0px;
  text-align: center; 
  background: #333;
}

a {
  font-family: "proxima-nova-400";
  color: #fff;
}

#tooltip {
  position: absolute;
  z-index: 9001;
  display: none;
  padding: 8px 14px;
  border-radius: 3px;
  border: 2px solid white;
  background: rgba(0,0,0,0.8);
  color: white;
  text-align: left;
  width: 300px;
}
  #tooltip > p > div > p {
    padding:10px;
  }

#banner {
  position: absolute;
  z-index: 9000;
  top: 64px;
  left: 0px;
  right: 0px;
  background-color: rgba(190,190,190,0.95);
  display: none;
  text-align: left;
  padding:14px 30px;
  font-size: 18px;
  transition:500ms right ease-in;
  -webkit-transition:500ms right ease-in;
}

#query {
  padding: 12px;
  padding-left: 30px;
  text-align: left;
  font-size: 18px;
  position: fixed;
  background: #555;
  color: white;
  border-bottom:2px solid #999;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
}
  .input-box {
    padding: 8px;
    background: #eee;
    color:#555;
    display: inline-block;
    border-radius: 2px;
  }
  .input-box button {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    background: #4c73dd;
    font-size: 18px;
    color: white;
    border: none;
    outline: none;
    border-radius: 100%;
    cursor: pointer;
  }
  .input-box button:focus {
    box-shadow: 0px 0px 4px 1px #4c73dd;
  }
    .input-box button i {
      font-size: 16px;
    }
  .input-box input {
    min-width: 400px;
    background: transparent;
    margin-left:5px;
    padding-left: 5px;
    padding-bottom: 3px;
    border: 0px solid #333;
    border-bottom: 2px solid #bbb;
    font-size: 18px;
    line-height: 18px;
    outline: none;
    transition: all 0.3s linear;
  }
  .input-box input:active, .input-box input:focus {
    border-bottom:2px solid #666;
  }

  .query-button {
    display: inline-block;
    background: #4c73dd;
    padding: 11px 15px;
    font-size: 18px;
    vertical-align: top;
    border-radius: 3px;
    font-family: "proxima-nova-300";
    margin-left: 5px;
    cursor: pointer;
  }
  a#bookmarks { 
    text-decoration: none;
    float: right;
    margin-right: 30px;
  }
  #zoomOut { opacity: 0; }

#chart {
  position: relative;
  z-index: 8998;
  transition:500ms all ease-in;
  -webkit-transition:500ms all ease-in;
}

#info {
  position: fixed;
  overflow: scroll;
  z-index:8999;
  width:400px;
  right:-400px;
  top:0px;
  bottom:0px;
  padding: 100px 35px 30px;
  box-sizing: border-box;
  background: #555;
  color: white;
  text-align: left;
  font-family: "proxima-nova-300";
  transition:500ms all ease-in;
  -webkit-transition:500ms all ease-in;
}
  #info b {
    font-size: 18px;
    font-family: "proxima-nova-400";
  }
  #info p { 
    font-family: "proxima-nova-100";
    letter-spacing: 0.025em; 
  }

  /********** FOR TOP AND CLUSTER INFO *********/
  #top .article-meta p, #cluster .article-meta p {
    font-size: 20px;
    margin: 0px;
  }
    #top .article-meta b, #cluster .article-meta b {
      font-family: "proxima-nova-100";
      font-size: 24px;
      letter-spacing: 0.05em;
    }

  #top h2, #cluster h2 {
    font-family: "proxima-nova-100";
    color: #eee;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin: 25px 0px 0px 0px;
  }

  #top ul, #cluster ul { 
    padding-left: 0px;
    margin-top: 15px;
    margin: 10px -5px 0px -5px;
  }
  #cluster ul.growth { 
    margin: 0px;
    background: #333;
    padding: 12px 0px;
    /*border-bottom: 10px solid #333;*/
  }
    #cluster ul.growth li {
      display: block;
      background: #555;
      box-sizing: border-box;
      margin: 12px;
      margin-top: 0px;
      border-radius: 2px;
      padding: 10px 15px;
      box-shadow: 0px 0px 4px 1px rgba(85, 85, 85, 0.47);
    }
    #cluster ul.growth li:last-child { margin-bottom: 0px; }

  #top .word, #cluster .word {
    display: inline-block;
    background: #333;
    margin: 10px 5px;
    border-radius: 3px;
  }
    #top .word .name, #cluster .word .name {
      background: white;
      padding: 6px 12px;
      color: #555;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    #top .word .mentions, #cluster .word .mentions {
      padding: 6px 12px;
      background: #333;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }


  /********** FOR TOP INFO *********/

  /********** FOR CLUSTER INFO *********/
  
  /********** FOR NODE INFO *********/
  #node p {
    text-align: left;
  }
  #node .text {
    height: 200px;
    overflow-x: hidden;
    margin-bottom: 20px;
  }
  #node b, #node p { display: inline; }
  
  #node .meta {
    margin-bottom: 14px;
  }
    #node .meta .holder {
      display: inline-block;
      vertical-align: top;
      color: #ddd;
      font-size: 18px;
    }
    #node #date-holder { width: 70%; }
    #node #length-holder { width: 28%; }

  #node .sentiment-bar {
    background: #eee;
    width: 100%;
    height: 24px;
    border-radius: 12px;
    margin-bottom: 20px;
  }
    #node .sentiment-bar .data {
      background: #4c73dd;
      border-radius: 12px;
      width: 0px;
      height: 24px;
      position: relative;
      top: 0px;
      left: 0px;
    }
    #node .sentiment-bar .data .label {
      position: absolute;
      display: block;
      top: 2px;
      font-size: 16px;
    }

  #node .text::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  #node .text::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

.spinner-holder {
  margin-top:100px;
  display: none;
}