<!DOCTYPE html>
<html>
  <head>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/queue.v1.min.js"></script>
    
    <!-- stats -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r14/Stats.js"></script>
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- SPINNER -->
    <link rel="stylesheet" href="{{ static_url('css/loader.css') }}">

    <!-- Ionicons -->
    <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    
    <!-- User Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/main.css') }}">
  </head>
  <body id="app">
    <div>
      <form id="query" action="">
        <div class="input-box">
          <input type="text" name="query" placeholder="Search trends by keyword..."><button type="submit"><i class="ion-android-search"></i></button>
        </div>
        <a target="_blank" id="bookmarks" href="/text-mining/bookmarks"><div class="query-button">Bookmarks</div></a>
        <div id="zoomOut" class="query-button">Zoom to top</div>
      </form>
      
      <div class="spinner-holder">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>

      <div id="banner">
        <strong>Cluster Keywords</strong>: <span></span>
      </div>

      <div id="info">

        <div id="node">
          <div class="title"><b><a target="_blank" href=""></a></b></div><br>
          <div class="meta">
            <div id="date-holder" class="holder">
              <span class="date">10/14/1066</span>
            </div>
            <div id="length-holder" class="holder">
              <span class="length">1000</span> Words
            </div>
          </div>
          <div class="sentiment-bar">
            <div class="data">
              <span class="label"></span>
            </div>
          </div>
          <div class="keywords"></div>
          <div class="people"></div>
          <div class="places"></div>
          <div class="organizations"></div>
          <b>Generated Summary</b>
          <div class="text">
            <p></p>
          </div>
        </div>

        <div id="cluster">
          <!-- Extended list of keywords
          NER with counts
          Finance Keywords -->
          <!-- <div class="keywords">
          </div>
          <div class="entities">
          </div>
          <div class="finance">
          </div> -->
          <div class="article-meta">
            <p>
              <b><span class="number articles"></span> articles</b>
            </p>
          </div>
          <h2>Important Entities</h2>
          <ul class="entities">
          </ul>
          <h2>Keyword Mentions</h2>
          <ul class="keywords">
          </ul>
          <h2>Growth/Decline</h2>
          <ul class="growth">
          </ul>
        </div>

        <div id="top">
          <!-- how many articles were returned
          NER with counts
          keywords with counts -->
          <div class="article-meta">
            <p><b class="query-word"></b> retrieved</p>
            <hr>
            <p>
              <b><span class="number clusters"></span> clusters</b> containing<br>
              <b><span class="number articles"></span> articles</b>
            </p>
          </div>
          <h2>Important Entities</h2>
          <ul class="entities">
          </ul>
          <h2>Keyword Mentions</h2>
          <ul class="keywords">
          </ul>
        </div>
      </div>

      <div id="tooltip">
        <p>
          <b class="title"></b><br>
          <div class="keywords"></div>
          <div class="people"></div>
          <div class="places"></div>
          <div class="organizations"></div>
        </p>
      </div>

      <div id="chart"></div>
    </div>
    <link rel="stylesheet" href="{{ static_url('css/font.css') }}"></link>
    <script src="{{ static_url('js/polyfills.js') }}"></script>
    <script src="{{ static_url('js/textMining.js') }}"></script>
  </body>
</html>
