<!DOCTYPE html>
<html>
  <head>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/queue.v1.min.js"></script>

    <!-- Ionicons -->
    <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- User Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/main.css') }}">
  </head>
  <body id="app">
    <div>
      <form id="query" action="#">
        <div class="input-box">
          <input type="text" name="query" placeholder="Search trends by keyword...">
          <button type="submit"><i class="ion-android-search"></i></button>
        </div>
        
        <button id="show-filters" class="query-button" type="button">Filters...</button>
        <!-- add data currently does nothing -->
        <button id="add-data" class="query-button" type="button">Add data</button>
        <button id="zoomOut" class="query-button" type="button">Zoom to top</button>
        <a target="_blank" id="bookmarks" href="/text-mining/bookmarks">
          <div class="query-button">Bookmarks</div>
        </a>
      </form>

      <div id="filters" class="form-group">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <label for="source">Source</label>
            <select name="source" value="*" class="form-control"></select>
          </div>
          <div class="col-sm-12 col-md-4">
            <label for="after">Only retrieve articles after year</label>
            <input class="form-control" type="number" name="after" min="1997" max="2016" value="2000">
          </div>
          <div class="col-sm-12 col-md-4">
            <label for="before">and before year</label>
            <input class="form-control" type="number" name="before" min="2000" max="2016" value="2016">
          </div>
          <div class="col-sm-12 col-md-4">
            <label for="threshold">Minimum Article Relevance</label>
            <input class="form-control" type="number" name="threshold" min="0.1" max="1.0" step="0.05" value="0.3">
          </div>
          <div class="col-sm-12 col-md-4">
            <label for="limit">Initial Article Pool Size</label>
            <input class="form-control" type="number" name="limit" min="100" max="1000" step="100" value="500">
          </div>
          <div class="col-sm-12 col-md-4">
            <label for="min-samples">Minimum Articles per Cluster</label>
            <input class="form-control" type="number" name="min-samples" min="2" max="10" step="1" value="3">
          </div>
        </div>
      </div>

      <div id="banner">
        <span>Click on the container to see <b>Cluster</b> info, click a node to see <b>Article</b> info.</span>
      </div>
      
      <div class="spinner-holder">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>

      <div id="info">

        <div id="node">
          <div class="title"><b><a target="_blank" href=""></a></b></div><br>
          <div class="meta">
            <div id="date-holder" class="holder">
              <span class="date">10/14/1066</span>
            </div>
            <div id="length-holder" class="holder">
              <span class="length">1000</span> Words
            </div>
          </div>
          <div class="sentiment-bar">
            <div class="data">
              <span class="label"></span>
            </div>
          </div>
          <div class="keywords"></div>
          <div class="people"></div>
          <div class="places"></div>
          <div class="organizations"></div>
          <b>Generated Summary</b>
          <div class="text">
            <p></p>
          </div>
        </div>

        <div id="cluster">
          <div class="article-meta">
            <p>
              <b><span class="number articles"></span> articles</b>
            </p>
          </div>
          <h2>Important Entities</h2>
          <ul class="entities">
          </ul>
          <h2>Keyword Mentions</h2>
          <ul class="keywords">
          </ul>
          <h2>Growth/Decline</h2>
          <ul class="growth">
          </ul>
        </div>

        <div id="top">
          <div class="article-meta">
            <p class="text-center"><b class="query-word"></b></p>
            <hr>
            <p>
              <b><span class="number clusters"></span> clusters</b>
              &nbsp;&nbsp;<i class="ion-arrow-right-b"></i>&nbsp;&nbsp;
              <b><span class="number articles"></span> articles</b>
            </p>
          </div>
          <h2>Important Entities</h2>
          <ul class="entities">
          </ul>
          <h2>Sentiment Breakdown</h2>
          <div class="sentiment-distribution">
            <canvas id="sentiment-graph"></canvas>
          </div>
        </div>

      </div>

      <div id="tooltip">
        <p>
          <b class="title"></b><br>
          <div class="keywords"></div>
          <div class="people"></div>
          <div class="places"></div>
          <div class="organizations"></div>
        </p>
      </div>

      <div id="chart"></div>
    </div>
    <!-- Font -->
    <link rel="stylesheet" href="{{ static_url('css/font.css') }}"></link>
    <!-- Stats.js & Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r14/Stats.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- SPINNER -->
    <link rel="stylesheet" href="{{ static_url('css/loader.css') }}">
    <!-- FOR COMPATIBILITY -->
    <script src="{{ static_url('js/polyfills.js') }}"></script>

    <!-- REAL DEAL JS! -->
    <script src="{{ static_url('js/textMining.js') }}"></script>
  </body>
</html>
